spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: toBeModified
            client-secret: toBeModified
  data:
    mongodb:
      uri: toBeModified